@mixin portfolio-font-style($font-weight, $font-size, $color) {
 font-weight: $font-weight;
 font-size: $font-size;
 color: $color; 
}

@mixin container($center){
  width: 950px;
  margin: $center;
  h1{
    font-size: 35px;
  }
}

@mixin transition($propName){
  transition: $propName .3s ease-in-out;
}