@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

// project variables
$white: #fff;
$red: #ff5678;
$grey: #999999;
$dark: #000;
$font: 'Work Sans', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$center: 0 auto;
